h1 {
    font-family: Century_Gothic_Regular, sans-serif;
}

h2 {
    font-family: Century_Gothic_Regular, sans-serif;
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-size: 1.4rem;
}

.selectInput {
    transition: all 0.3s;
    font-size: 1.2rem !important;
    padding-left: 5px !important;
    box-shadow: 0 0 7px #125905 !important;
}

.mui-textfield > input:disabled {
    background-color: rgba(128, 128, 128, 0.08) !important;
}
.error-input {
    border-color: #F44336 !important;
    border-width: 2px;
}
#phone_label {
    left: 0;
    transition: all 0.3s;
    font-size: 14px !important;
    overflow: hidden;
}
.iti__flag{
    box-shadow: 0 0 1px 0 rgba(136, 136, 136, 0) !important;
    background-color: rgba(219, 219, 219, 0) !important;
}
#phone::placeholder {
    font-weight: 900;
}

.mui-form {
    label {
        color: black;
    }

    input[type=text] {
        background-color: rgba(241, 241, 241, 0);
    }

    .mui-textfield--float-label > input:not(:focus).mui--is-not-empty ~ label {
        color: black;
    }
}

.mui-select__menu {
    max-height: 320px;
    min-width: 92%;
}


.bottom-line {
    border-bottom: gray solid 1px;
}

.card-content {
    max-width: calc(1200px - 300px);
    margin: 0 auto;
}

.card-separator {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.cart_label {
    font-family: "Century_Gothic_Bold", sans-serif;
    text-align: center;
    width: 100%;
}

/*************************autocomplete ***************/
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 7px;
    margin-left: 13px;
    margin-right: 13px;
    //padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
