
// Body
$body-bg: #f5f8fa;
$purple-gradient: linear-gradient(90deg, #020024 0%, rgba(59, 14, 49, 0.89) 99%) !important;;
$max-width: 2000px;
$purple: #3B0E31;
$dark-blue:#436680;
$blue: #157FCC;
$redImp: #F44336
//background: linear-gradient(90deg, #020024 0%, rgba(59, 14, 49, 0.896534) 99%) !important;
