// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
@import "landing";
@import "breadcrumbs";
@import "product";
@import "product-card";
@import "product-details";
@import "rule";
a {

}

html {
    font-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*, :after, :before {
    box-sizing: inherit;
}

a {
    text-decoration: none !important;
    outline: 0;
}

h1, h2, h3, h4 {
    letter-spacing: .05em;
}

.title-slider {
    font-family: "Century_Gothic_Bold", sans-serif;
    text-align: center;
    &__t {
        font-family: "Century_Gothic_Bold", sans-serif;
    }
    &__subtitle {
        font-family: "Century_Gothic_Regular", sans-serif;
        font-size: 15px;
        letter-spacing: 0;
    }
    @media screen and(max-width: 430px){
        display: flex;
        flex-direction: column;
    }
}

header {
    max-width: $max-width;
    margin: 0 auto;
}
img.lazy {
    width: 700px;
    height: auto;
    display: block;
}
.word-wrap {
    word-wrap: break-word;
    width: 100%;
    text-align: center;
}

body {
    font-family: Century_Gothic_Regular, sans-serif;
    background-color: $body-bg;
    font-size: 16px;
    color: #000;
    height: 100%;
    margin: 0;
    padding: 0;
}
.disabled-user-select {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.swiper-container {
    width: 100%;
    height: 100%;

}
.hide {
    display: none;
}
.highlightTittle {
    padding: 2rem 0 2rem 0;
    border-radius: 1rem;
    color: white;
    font-weight: 400;
    font-family: "Century_Gothic_Bold", sans-serif;
    background-image: url(./../images/tc_page_head.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-blend-mode: overlay;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #4c2645;
    @media screen and(max-width: 480px) {
        font-size: 20px;
    }
}

.swiper-slide {
    background-position: top center !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.wrap {
    overflow: hidden;
    max-width: $max-width;
    margin: 0 auto;
    margin-top: .25rem !important;

    &__height {
        background-color: #0c5460;
        max-height: 350px;
        overflow: hidden;
        box-sizing: border-box;
    }
}

.card-text {
    font-size: 0.9rem;
}
.align-text-right {
    text-align: right;
}
.global-header {
    overflow: hidden;

    .navbar {
        z-index: 1;
        background-color: gray !important;
        //background: rgb(2, 0, 36) !important;
        //background: $purple-gradient;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        padding: 0;

        .nav-item {
            transition: all 0.5s;
            text-align: center;
            margin-right: 5rem;
            border-right: 3px solid white;
            border-left: 3px solid white;
            //padding: 1rem 0 1rem 0;
            &:hover {
                border-radius: 5px;
                background-color: grey;
            }
        }

        .nav-link {
            color: white;
            font-size: 1.6rem;
        }
    }

    .navbar-brand {
        background-color: white;
        padding: 6px;
        border-radius: 7px;
    }
}

.h-90 {
    height: 90% !important;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;


}
.logo-link {
    &__nav__pc {
        padding-left: 30px;
        img {
            //max-height: 55px;
            max-height: 18px;
        }
    }
    &__nav__mobile {
        img {
            max-height: 25px;
            //margin-top: 5px;
        }
    }
    &__footer {
        img{

        }
    }
    &:hover{

    }
}
.hover-logo {
    &:hover {
        cursor: pointer;
        filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.9));
    }
}
.empty-width {
    width: 80px;
}
.border-0 {
    border: none;
}
.nav-item_m_width {
    font-family: 'Century_Gothic_Regular', sans-serif;
    //min-width: 200px !important;
}

.menu-wrap {
    position: relative;
    background-color: #f7f1f1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Century_Gothic_Bold", sans-serif;

    .btn {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        font-weight: 700;
        text-transform: uppercase;

        i {
            font-size: 2rem;
        }
    }
}
.fullscreen {
    //width: 100%;
    //max-width: 100% !important;
}
.slick-image {
    max-height: 81px;
    object-fit: cover;
}
//width: calc(100% - 283px);
.menu-header {
    //font-family: Century_Gothic_Regular, sans-serif !important;
    font-family: Century_Gothic_Italic, sans-serif !important;
    position: absolute;
    min-width: 141px;
    z-index: 33;
    background-color: #dddddd;
    top: -100%;
    //height: 100%;
    //width: 100%;
    ul {
        list-style-type: none;
        padding: 0 10px 0 0;
        li {
            font-size: 1.5rem;
            cursor: pointer;
            padding: 8px 30px 0px 0;
            margin-bottom: 3px;
            //background-color: $dark-blue;
            background-color: #4c2645;
        }
    }
}
.menu-parent-btn {
    font-size: 22px;
    padding: 0;
    background: none;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}
.menu-child {
    justify-content: center;
    flex-direction: column;
    display: none;
    span {
        font-size: 20px !important;
    }
}
.menu-child-not-active {
    height: 0;
}
.hamburger {
    top: 8px !important;
    left: 23px !important;
    //color: #fff !important;
}
.hamburger__icon, .hamburger__icon:after, .hamburger__icon:before {
    width: 35px !important;
    height: 3px !important;
    color: #fff !important;
    background-color: #fff !important;
}
.hamburger__icon:before {
    top: -8px !important;
}
.hamburger__icon:after {
    top: 8px !important;
}
.categoryLink {
    font-family: Century_Gothic_Bold, sans-serif;
    display: flex;
    //&:hover {
    //    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    //}
    &__active {
        background: rgb(63, 94, 251) !important;
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(219, 70, 252, 1) 100%) !important;
    }
}

.category {
    box-sizing: border-box;
    a {
        text-decoration: none;
        font-family: "Century_Gothic_Regular", sans-serif;
        color: white;
        font-size: 1.1rem;
        padding-bottom: 0.9rem;
    }
}

.subcategory {
    position: absolute;
    background-color: #dddddd;
    top: 1px;
    padding-bottom: 10rem;
    //border-radius: 3px;
    //-webkit-box-shadow: 0 0 0 2px #808080;
    //-moz-box-shadow: 0 0 0 2px #808080;
    //box-shadow: 0 0 0 2px #808080;
}

.subcategory_item {
    //max-width: 195px;
    position: relative;
    //min-width: 215px;
    min-width: 230px;
    background-color: rgba(128, 0, 128, 0) !important;
    padding: 1px !important;
    margin: 7px !important;

    &_img {
        max-width: 160px;
        max-height: 160px;

        &:hover {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }
    }

    &_text {
        border-bottom: 1px solid;
        border-radius: 0;
        transition: all 0.3s;
        font-size: 14px;
        //font-family: Century_Gothic_Regular, sans-serif;
        font-family: "Century_Gothic_Bold", sans-serif;
        position: absolute;
        width: 100%;
        overflow: hidden;
        top: 5%;
        text-align: center;
        color: #1b0c2f;
        //font-weight: bold;
        //border-radius: 12px;
        padding: 1px;
        //border-bottom: 3px solid;
        //background-color: white;
        //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.23);
        &:hover {
            //box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            //background-color: white;
            color: #460f56;
        }
    }

    a {
        font-family: Century_Gothic_Regular, sans-serif;
        list-style-type: none;
        background-color: rgba(0, 123, 255, 0) !important;
        width: 100%;
    }


}

.card-container {
    opacity: 0;
    max-width: 20rem;
    position: absolute;
    left: 0;
    margin: 0 8px 0 8px;
    bottom: 36px;
    .card {
        background-color: $purple-gradient;
    }
}

.bg-dark {
    background-color: rgba(65, 32, 64, 0.28) !important;
}

//.scroll-container .swiper-slide {
//    overflow: 'auto',
//    -webkit-overflow-scrolling: touch;
//}
.cat_box {

    height: 100%;
    position: relative;

    &__item {

        padding: 0;

        .head {
            height: 100%;
            position: relative;
            overflow: hidden;

            a {

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .name_block {
            height: 107px;
            font-family: 'Century_Gothic_Bold', sans-serif;
            font-weight: 400;
            overflow: hidden;
            line-height: 28px;
            z-index: 20;
            position: absolute;
            width: 100%;
            background: linear-gradient(90deg, #020024 0%, rgba(59, 14, 49, 0.896534) 99%) !important;
            bottom: 0;
            transition: all .2s ease;

            a {
                color: white;
                font-size: xx-large;
                text-decoration: none;
                text-align: center;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.19);
                padding: 10px 0 10px 0;
            }
        }
    }
}

.dark {
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
}

/**
 * ----------------------------------------
 * animation scale-up-hor-left
 * ----------------------------------------
 */

.cursor-pointer {
    cursor: pointer;

    &:hover {
        text-decoration: underline
    }
}

/********footer*****************/
footer {
    font-size: 1.2rem;
    transition: all 1s;
    font-family: Lato-Reqular, sans-serif !important;
    background-color: grey;
    box-sizing: border-box;
    overflow: hidden;

    .divider {
        width: 540px;
        border-bottom: 1px solid white;
    }

    .icon-contacts {
        width: 50px;
    }
}
.color-red {
    color: $redImp !important;
}
.color-red-back {
    background-color: $redImp !important;;
}
.box-s-box {
    box-sizing: border-box !important;
}

.base-shadow {
    box-shadow: 0 0 7px #ccc;
}
.purple {
    background-color: $purple !important;

}
.purple-gr {
    background-color: #4c2645;
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(99%, rgba(59, 14, 49, 0.896534))) !important;
}

.button-add-cart {
    transition: all 0.5s;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 1.5rem;
    border: none;
    cursor: pointer;
    color: white;
    font-family: "Century_Gothic_Bold", sans-serif;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 550px) {
        font-size: 0.8rem;
    }
    @media screen and (max-width: 370px) {
        font-size: 0.6rem;
    }

    &:hover {
        background: rgb(63, 94, 251) !important;
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(219, 70, 252, 1) 100%) !important;
    }
}
.error-message {
    position: absolute;
    font-family: "Century_Gothic_Bold", sans-serif;
    left: 10px!important;
    font-size: .8rem;
    color: #f44336;
}
.pb-1r5 {
    padding-bottom: 1px;
}
.success-send-msg {
    font-family: "Century_Gothic_Bold", sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    i {
        color: rgba(59, 14, 49, 0.896534);
        font-size: 10rem;
    }
}
.hide-pre-success {

}
.mobile_menu_container ul li ul, a.back {
    background-color: #3c383b !important
}

.nav-mobile {
    li {
        a {
        }
    }
    display: none;

    .menu_container {

        &_item {

        }

        height: 60px;

        i {
            font-size: 2rem;
        }
    }
}

.nav-pc {
    display: block;
}
.cat_box__item {
    max-height: 310px;
}
@media screen and (max-width: 770px) {
    .cat_box__item {
        max-height: 270px;
    }
}
.hamburger {
    display: none !important;
}
.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}
.down-desc {
    padding-top: 9px;
    font-size: 13px;
}
@media screen and (max-width: 768px) {
    .nav-mobile {
        display: block;
    }
    .hamburger {
        display: block !important;
    }
    .nav-pc {
        display: none;
    }
}

