#breadcrumbs {
    overflow: hidden;
    border-radius: 3px;
    background-color: gray;
    //box-shadow: 0 0 15px #ccc inset;
    //-webkit-box-shadow: 0 0 15px #ccc inset;
    //-moz-box-shadow: 0 0 15px #ccc inset;
    //background-color: #4e2645;
}

.breadcrumbs {
    transition: all 2s;
    text-decoration: none;
    color: white;;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    list-style: none;

    a {
        text-decoration: none;
        color: #423a3a;
        font-family: Century_Gothic_Bold, sans-serif;

        &:hover {
            border-bottom: 1.5px solid white;
        }

    }
}

.current_line {
    &:hover {
        border-bottom: 1.5px solid white;
    }
}

.breadcrumbs li {
    color: white;
    font-size: 0.7rem;
    line-height: 1.3rem;
}

.breadcrumbs li {
    float: left;
    color: #0a0a0a;
    font-size: .6875rem;
    cursor: default;
    text-transform: uppercase;
}

.breadcrumbs * {
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
