.swiper-pagination-bullets {
    text-align: right !important;
    right: 3rem !important;
    left: unset !important;
}

.shopping {
    padding-right: 100px;
    font-size: 23px;
    transition: all .2s;
    width: 100px;
    text-align: center;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 14px;
    color: white;
    &-bag {
        max-height: 30px;
        &-item {
            font-family: "Century_Gothic_Bold", sans-serif;
            top: 5px !important;
        }
    }
    .fa-shopping-cart {
        font-size: 40px;
    }
    span {
        position: absolute;
        top: 10px;
        padding: 0;
    }

    &__mobile-size {
        font-size: 1.3rem !important;
        margin-top: 5px;
        .shopping-bag {
            max-height: 35px;
        }
    }

    @media screen and(max-width: 640px){
        padding-right: 0;
        width: 60px;
    }

}
