h1 {
    font-family: "Century_Gothic_Bold", sans-serif;
}
.slider-wrap{
    max-width: 85%;
}
.sw-button {
    background-color: #1a0c2f;
}
.swiper-slide {
    display: block;
}
.hand {
    position: relative;
    text-align: end;
    top: 15px;
}
.slider-for {
    max-width: 405px;
}
.img-list {
    display: flex;
    justify-content: center;
    @media screen and(max-width: 1125px){
        flex: 0 0 100%;
        max-width: 100%;

    }
}
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.slider-nav {
    @media screen and (max-width: 1180px){
        display: none;
    }
}
.swiper-container {
    width: 100%;
    height: 300px;
    margin: 20px auto;
}

.swiper-slide-container {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height:100%;
    max-width: 600px;
    margin:auto;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.gallery-top {
    height: 80%;
    width: 100%;
}
.gallery-thumbs {
    //height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    max-height: 80px;
    @media screen and (max-width: 500px){
        display: none;
    }
}
.gallery-thumbs .swiper-slide {
    width: 20%;
    height: 100%;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

.swiper-box {
    &__image {
        &.swiper-lazy-loaded {
            display: block;
            height: auto;
            width: 100%;
        }
    }

    &__link {
        display: flex;
    }
}
