.wrapper {
    //width: 300px;
    //height: 500px;
    width: 250px;
    height: 370px;
    //background: white;
    //margin: auto;
    margin: 2.5rem 0 0 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 10px 10px;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;

    &:hover {
        transform: scale(1);
        box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
    }

    .container {
        width: 100%;
        height: 100%;

        .sold-out {
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Century_Gothic_Bold", sans-serif;
            cursor: pointer;
        }

        .top {
            //height: 80%;
            height: 70%;
            width: 100%;
            //background-color: rgb(37, 64, 83);
            //background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg) no-repeat center center;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
        }

        .d-price {
            font-family: "Century_Gothic_Bold", sans-serif;
            width: 95%;
            text-align: right;
        }

        .bottom {
            overflow: hidden;
            width: 200%;
            height: 20%;
            transition: transform 0.5s;

            &.clicked {
                transform: translateX(-50%);
            }

            h1 {
                margin: 0;
                padding: 0;
            }

            p {
                margin: 0;
                padding: 0;
            }

            .left {
                height: 100%;
                width: 50%;
                background: #f4f4f4;
                position: relative;
                float: left;

                .details {
                    font-family: "Century_Gothic_Bold", sans-serif;
                    padding-top: 1px;
                    padding-left: 4px;
                    //padding: 20px;
                    //width: calc(70% - 12px);
                    width: 70%;
                    float: left;
                    //width: calc(70% - 40px);
                    h2 {
                        letter-spacing: 0;
                    }

                    a {
                        color: $purple;
                    }

                    .h6 {
                        text-align: center;
                        padding-bottom: 0 !important;
                        margin-bottom: 0 !important;
                        font-size: 15px;
                    }
                }

                p {
                    font-family: "Century_Gothic_Bold", sans-serif;
                    font-size: inherit;
                    font-weight: 400;
                    line-height: normal;
                    color: #3e3d3b;
                }

                .buy {
                    width: calc(30% - 9px);
                    cursor: pointer;
                    float: right;
                    //width: calc(30% - 2px);
                    height: 100%;
                    background: #f1f1f1;
                    transition: background 0.5s;
                    border-left: solid thin rgba(0, 0, 0, 0.1);

                    i {
                        font-size: 25px;
                        padding: 22px;
                        //font-size: 30px;
                        //padding: 30px;
                        color: #254053;
                        transition: transform 0.5s;
                    }

                    &:hover {
                        background: #A6CDDE;
                    }

                    &:hover i {
                        transform: translateY(5px);
                        color: #00394B;
                    }
                }
            }

            .right {
                width: 50%;
                background: #A6CDDE;
                color: white;
                float: right;
                //height: 200%;
                height: 100%;
                overflow: hidden;

                .details {
                    padding: 20px;
                    float: right;
                    width: calc(70% - 40px);
                }

                .done {
                    width: calc(30% - 2px);
                    float: left;
                    transition: transform 0.5s;
                    border-right: solid thin rgba(255, 255, 255, 0.3);
                    height: 50%;

                    i {
                        padding: 25px;
                        font-size: 30px;
                        //padding: 30px;
                        color: white;
                    }
                }

                .remove {
                    cursor: pointer;
                    width: calc(30% - 1px);
                    clear: both;
                    border-right: solid thin rgba(255, 255, 255, 0.3);
                    //height: 56%;
                    //height: 88%;
                    height: 175%;
                    background: #BC3B59;
                    transition: transform 0.5s, background 0.5s;

                    &:hover {
                        background: #9B2847;
                    }

                    &:hover i {
                        transform: translateY(5px);
                    }

                    i {
                        transition: transform 0.5s;
                        font-size: 30px;
                        padding: 30px;
                        color: white;
                    }
                }

                &:hover {
                    .remove, .done {
                        transform: translateY(-100%);
                    }
                }
            }
        }
    }

    .inside {
        cursor: pointer;
        z-index: 9;
        background: #92879B;
        width: 140px;
        height: 140px;
        position: absolute;
        top: -70px;
        right: -70px;
        border-radius: 0px 0px 200px 200px;
        transition: all 0.5s, border-radius 2s, top 1s;
        overflow: hidden;

        .icon {
            position: absolute;
            right: 85px;
            top: 85px;
            color: white;
            opacity: 1;
        }

        &:hover {
            width: 100%;
            right: 0;
            top: 0;
            border-radius: 0;
            //height: 80%;
            height: 100%;

            .icon {
                opacity: 0;
                right: 15px;
                top: 15px;
            }

            .contents {
                opacity: 1;
                transform: scale(1);
                transform: translateY(0);
            }
        }

        .contents {
            padding: 5%;
            opacity: 0;
            transform: scale(0.5);
            transform: translateY(-200%);
            transition: opacity 0.2s, transform 0.8s;

            table {
                text-align: left;
                width: 100%;
            }

            h1, p, table {
                color: white;
            }

            p {
                font-size: 13px;
            }
        }
    }

}

/* The Modal (background) */
.modal-purchare, .modal-warning, .modal-success, .modal-asqQuestion {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-warning {
    z-index: 44;
    display: block;

    h4 {
        text-align: center;
        color: brown;
    }
}

.modal-success {
    z-index: 44;
    display: block;

    h4 {
        text-align: center;
        color: green;
    }
}

/* Modal Content */
.modal-content-purchare, .modal-content-warning, .modal-content-success, .modal-content-asqQuestion {
    background-color: #fefefe;
    margin: auto;
    padding: 25px;
    width: 80%;
    max-width: 830px;
}

.modal-content-asqQuestion {
    max-width: 625px;
    @media screen and(max-width: 540px) {
        width: 97%;
    }
}

.asqQuestion__main {
    &__top {

    }

    &__center {
        font-family: "Century_Gothic_Regular", sans-serif;
        font-size: 18px;
    }

    &__down {
        font-family: "Century_Gothic_Bold", sans-serif;
        font-size: 18px;
    }
}

/* The Close Button */
.close-purchare, .close-warning, .close-asqQuestion {
    color: #aaaaaa;
    float: right;
    font-weight: bold;
    position: relative;
    top: -34px;
    left: 16px;
    font-size: 40px;
    cursor: pointer;
}

.close-purchare:hover,
.close-purchare:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.cart-header-wrap {
    height: 1rem;
}

.cart-purchase {

    box-shadow: 0 0 0 1px #ccc;
    display: flex;
    flex-direction: row;
    line-height: 29px;
    color: #797878;
    border-radius: 6px;
    width: 100%;

    .cart-remove {
        padding-left: 2px;
        color: #aaaaaa;
        font-weight: bold;
        font-size: 40px;
        cursor: pointer;

        &:hover {
            color: rgb(66, 52, 52);
        }
    }

    &-item {
        transition: all 1s !important;
        display: flex;
        padding: 13px 15px 0 15px;
        width: 100%;
        flex-wrap: wrap;
    }
}

.purchase-img {
    transition: all 0.5s;

    img {
        width: 100px;
        //height: 70px;
    }
}

.hover-purple {
    transition: all 0.4s !important;

    &:hover {
        background-color: purple !important;
    }
}

.purchase-img-wrap {

    .purchase-img .responsive-img {
        width: 63px;
        height: 63px;
    }

    .cart-remove {
        top: -7px;
        left: -29px;
    }
}

.cart-inner {
    box-sizing: border-box;
}

.purchase-inner {
    flex-grow: 1;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;


    .purchase-title-wrap {
        padding: 0;
        margin: 0;

        .purchase-title {
            font-family: Century_Gothic_Bold, sans-serif;
            color: gray;

            &:hover {
                color: #6F42C1;
            }
        }
    }

    .purchase-item-flex {
        text-align: right;

        .purchase-coast {
            font-family: Century_Gothic_Bold, sans-serif;
        }
    }
}

#purchase-content {
    overflow-y: scroll;
    max-height: 50vh;
    width: 100%;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #020024 0%, rgba(59, 14, 49, 0.896534) 99%) !important;
    outline: 1px solid slategrey;
}

.purchase-total {
    text-align: right;

    &-label {
        font-family: Century-Gothic, sans-serif;
        font-size: 1.7rem;
        font-weight: 600;
    }
}

.purchase-bottom-line {
    font-family: Century-Gothic, sans-serif;
    border-bottom: 1px solid #8080804a;
    padding-bottom: 1px;
    margin-bottom: 10px;
    width: 96%;
}

.asqQuestion-bottom-line {
    font-family: Century_Gothic_Regular, sans-serif;
    text-transform: none;

    .asqQuestion_up_label {
        font-size: 1.4rem;
    }

    .asqQuestion_down_label {
        font-size: 14px;
    }
}

.already-shoping-cart {
    display: none;
}
