.back-product__rate-list {
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    width: 100%;
    color: #4d2746;
    text-align: left;
    left: 11px;
    .active {
        background-color: rgba(0, 0, 0, 0) !important;
    }

    .active.fa-star::before {
        content: '\f005' !important;
        transition: all .25s;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }

    @media screen and (max-width: 380px){
        top: 10px;
        font-size: 14px;
    }

}
