#fool-products {
    display: flex;
    justify-content: center;
}

.product-wrap {
}

.product-landing {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    &_max-width {
        max-width: 1280px;
    }
    &_picture {
        background-image: url("./../images/tc_page_head.jpg");
        background-color: $purple !important;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        background-blend-mode: overlay;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        box-sizing: border-box;
        background-color: rgb(76, 38, 69);

        h1 {
            font-size: 48px;
            color: #f7f9ff;
            font-family: Century_Gothic_Regular, sans-serif;
        }
    }

    &_menu {
        margin: 0 auto;
        box-sizing: border-box;
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        height: 100%;

        &_item {
            text-transform: uppercase;
            transition: all 0.2s;
            text-align: center;
            min-width: 11rem;
            font-size: 1rem;
            margin: 1rem 1rem 0;
            padding: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            font-family: Century_Gothic_Regular, sans-serif;
            box-sizing: content-box;

            a {
                color: black;
                text-decoration: none;
                font-weight: 600;
            }

            &:hover {
                background-color: darkgrey;
            }
        }

    }

    .active {
        background-color: darkgrey;

        a {
            color: white;
        }
    }

    &_delimiter {

    }
}

.hoverMenu {
    color: white !important;
}
