h1 {
    font-family: Montserrat-Normal-900, sans-serif;
    font-size: 1.5rem !important;
}

body {
    //height: auto !important;
}

#el {
    height: 550px;
    @media screen and(max-width: 763px) {
        height: auto;
    }
}

.modal-zm-content {
    max-width: 100%;
}

.product-description {
    .zoom-click {
        height: 70px !important;
    }

    .img-list {

        box-shadow: 0 0 0 1px #ccc;
    }

    &_details {
        @media screen and(max-width: 763px) {
            padding-right: 0;
            padding-left: 0;
        }

        .details-right {

            .wrap-card-pay {
                padding: 15px !important;
                background: rgba(242, 242, 242, 0.35) none repeat scroll 0 0;
                box-shadow: 0 0 0 1px #ccc;
                -webkit-box-shadow: 0 0 0 1px #ccc;
                -moz-box-shadow: 0 0 0 1px #ccc;
                display: inline-block;

                .shopImg {
                }

                .price {

                    font-family: "Century_Gothic_Bold", sans-serif;
                    font-size: 1.5rem;
                    font-weight: 400;
                    line-height: normal;
                    color: #3e3d3b;
                }
            }

            .more-info {
                box-shadow: 0 0 0 1px #ccc;
                min-height: 10rem;
                font-size: 1.5rem;

                &_item {
                    padding: 0.5rem;
                    font-size: 18px;
                }

                .more-info-key {
                    text-transform: uppercase;
                    font-family: "Century_Gothic_Bold", sans-serif;
                }

                .more-info-val {
                    font-family: "Century_Gothic_Regular", sans-serif;
                    overflow-wrap: break-word;
                }
            }

        }
    }
}

.ask_question {
    text-transform: uppercase;
    min-height: 0 !important;
    button {
        font-family: "Century_Gothic_Regular", sans-serif;
        background: none $dark-blue;
        &:hover {
            background: none $blue !important;
        }
    }
}

//.swiper-slide img{
//    width:327px;
//    height:auto;
//}
.binding-product {
    margin: 2rem 0 2rem 0;
    min-height: 530px;
    overflow: hidden;

    .swiper-wrapper {
        //height: 220px;
    }

    .swiper-container-binding {
        width: 100%;
        height: 100%;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background-color: rgba(0, 0, 0, 0);

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    }
}


