.info-rule {
    border-radius: 5px;
    box-shadow: 0 14px 18px 4px #b8c8db;
    @media screen and(max-width: 690px) {
        width: unset !important;
    }

    h1 {
        padding: 2rem 0 2rem 0;
        border-radius: 1rem;
        color: white;
        font-weight: 400;
        font-family: 'Century_Gothic_Bold', sans-serif;

    }
}
