@font-face {
    font-family: "Century_Gothic_Regular";
    src: url("./../fonts/century_gothic/century-gothic.ttf") format("truetype");
    font-display: swap;
    /*font-style: normal;*/
    /*font-weight: normal;*/
}
@font-face {
    font-family: "Century_Gothic_Bold";
    src: url("./../fonts/century_gothic/century-gothic-gras.ttf") format("truetype");
    font-display: swap;
    /*font-style: normal;*/
    /*font-weight: normal;*/
}
@font-face {
    font-family: "Century-Gothic";
    src: url("./../fonts/century_gothic/century-gothic-gras-italique.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: "Century_Gothic_Italic";
    src: url("./../fonts/century_gothic/century-gothic-italique.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
