@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@font-face {
  font-family: "Montserrat-Normal";
  src: url("./../fonts/montserrat-v12-latin_cyrillic-300.woff2") format("woff2"), url("./../fonts/montserrat-v12-latin_cyrillic-300.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Normal-900";
  src: url("./../fonts/montserrat-v12-latin_cyrillic-900.woff2") format("woff2"), url("./../fonts/montserrat-v12-latin_cyrillic-900.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Normal-italic";
  src: url("./../fonts/montserrat-v12-latin_cyrillic-italic.woff2") format("woff2"), url("./../fonts/montserrat-v12-latin_cyrillic-italic.woff") format("woff");
}
@font-face {
  font-family: "Lato-Reqular";
  src: url("./../fonts/landing/lato-regular.woff") format("woff");
}
.swiper-pagination-bullets {
  text-align: right !important;
  right: 3rem !important;
  left: unset !important;
}
p{

}
.shopping {
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 100px;
  text-align: center;
  margin-left: 15px;
  font-size: 1.3rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-radius: 14px;
  color: white;
}
.shopping span {
  padding: 0 10px 0 10px;
}
.shopping:hover {
  cursor: pointer;
  background-color: white;
  color: rgba(67, 111, 67, 0.95);
}

#breadcrumbs {
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0 15px #ccc inset;
  -webkit-box-shadow: 0 0 15px #ccc inset;
  -moz-box-shadow: 0 0 15px #ccc inset;
  background-color: #4e2645;
}

.breadcrumbs {
  -webkit-transition: all 2s;
  transition: all 2s;
  text-decoration: none;
  color: white;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  list-style: none;
}
.breadcrumbs a {
  text-decoration: none;
  color: #423a3a;
  font-family: Montserrat-Normal, sans-serif;
}
.breadcrumbs a:hover {
  font-family: Montserrat-Normal-900, sans-serif;
}

.breadcrumbs li {
  color: white;
  font-size: 0.7rem;
  line-height: 1.3rem;
}

.breadcrumbs li {
  float: left;
  color: #0a0a0a;
  font-size: 0.6875rem;
  cursor: default;
  text-transform: uppercase;
}

.breadcrumbs * {
  font-size: 0.7rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

#fool-products {
  min-height: 60vh;
}

.product-landing {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.product-landing_picture {
  background: url(https://www.sishik.info/about.67c61e4c2af008a9a3db.jpg) center no-repeat #292c37;
  width: 100%;
  background-blend-mode: overlay;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  box-sizing: border-box;
  background-color: darkgrey;
}
.product-landing_picture h1 {
  font-size: 48px;
  color: #f7f9ff;
  font-family: Montserrat-Normal-900, sans-serif;
}
.product-landing_menu {
  margin: 0 auto;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  display: -webkit-box;
  display: flex;
  height: 100%;
}
.product-landing_menu_item {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  min-width: 11rem;
  font-size: 1rem;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-family: Montserrat-Normal, sans-serif;
  box-sizing: content-box;
}
.product-landing_menu_item a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.product-landing_menu_item:hover {
  background-color: darkgrey;
}
.product-landing .active {
  background-color: darkgrey;
}
.product-landing .active a {
  color: white;
}
.hoverMenu {
  color: white !important;
}

.wrapper {
  width: 300px;
  height: 500px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 10px 10px;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-transform 0.5s;
}
.wrapper:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.wrapper .container {
  width: 100%;
  height: 100%;
}
.wrapper .container .top {
  height: 80%;
  width: 100%;
  background-color: #254053;
  background-size: 100%;
}
.wrapper .container .bottom {
  width: 200%;
  height: 20%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.wrapper .container .bottom.clicked {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.wrapper .container .bottom h1 {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom p {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom .left {
  height: 100%;
  width: 50%;
  background: #f4f4f4;
  position: relative;
  float: left;
}
.wrapper .container .bottom .left .details {
  padding: 20px;
  float: left;
  width: calc(70% - 40px);
}
.wrapper .container .bottom .left .buy {
  cursor: pointer;
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.wrapper .container .bottom .left .buy i {
  font-size: 30px;
  padding: 30px;
  color: #254053;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.wrapper .container .bottom .left .buy:hover {
  background: #A6CDDE;
}
.wrapper .container .bottom .left .buy:hover i {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  color: #00394B;
}
.wrapper .container .bottom .right {
  width: 50%;
  background: #A6CDDE;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}
.wrapper .container .bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(70% - 40px);
}
.wrapper .container .bottom .right .done {
  width: calc(30% - 2px);
  float: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}
.wrapper .container .bottom .right .done i {
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right .remove {
  cursor: pointer;
  width: calc(30% - 1px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 56%;
  background: #BC3B59;
  -webkit-transition: background 0.5s, -webkit-transform 0.5s;
  transition: background 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background 0.5s;
  transition: transform 0.5s, background 0.5s, -webkit-transform 0.5s;
}
.wrapper .container .bottom .right .remove:hover {
  background: #9B2847;
}
.wrapper .container .bottom .right .remove:hover i {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
.wrapper .container .bottom .right .remove i {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right:hover .remove, .wrapper .container .bottom .right:hover .done {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.wrapper .inside {
  cursor: pointer;
  z-index: 9;
  background: #92879B;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  -webkit-transition: all 0.5s, border-radius 2s, top 1s;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}
.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.8s;
  transition: opacity 0.2s, -webkit-transform 0.8s;
  transition: opacity 0.2s, transform 0.8s;
  transition: opacity 0.2s, transform 0.8s, -webkit-transform 0.8s;
}
.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
  color: white;
}
.wrapper .inside .contents p {
  font-size: 13px;
}

/* The Modal (background) */
.modal-purchare {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content-purchare {
  background-color: #fefefe;
  margin: auto;
  padding: 25px;
  width: 80%;
  max-width: 830px;
}

/* The Close Button */
.close-purchare {
  color: #aaaaaa;
  float: right;
  font-weight: bold;
  position: relative;
  top: -34px;
  left: 16px;
  font-size: 40px;
}

.close-purchare:hover,
.close-purchare:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cart-header-wrap {
  height: 1rem;
}

.cart-purchase {
  box-shadow: 0 0 0 1px #ccc;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  line-height: 29px;
  color: #797878;
  border-radius: 6px;
  width: 100%;
}
.cart-purchase .cart-remove {
  padding-left: 2px;
  color: #aaaaaa;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
}
.cart-purchase .cart-remove:hover {
  color: #423434;
}
.cart-purchase-item {
  display: -webkit-box;
  display: flex;
  padding: 13px 15px 0 15px;
  width: 100%;
  flex-wrap: wrap;
}

.purchase-img img {
  width: 65px;
  /*height: 70px;*/
}

.purchase-img-wrap .purchase-img .responsive-img {
  width: 63px;
  height: 63px;
}
.purchase-img-wrap .cart-remove {
  top: -7px;
  left: -29px;
}

.cart-inner {
  box-sizing: border-box;
}

.purchase-inner {
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-left: 20px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.purchase-inner .purchase-title-wrap {
  padding: 0;
  margin: 0;
}
.purchase-inner .purchase-item-flex {
  text-align: right;
}
#purchase-content {
  overflow-y: scroll;
  max-height: 50vh;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(99%, rgba(59, 14, 49, 0.896534))) !important;
  background: linear-gradient(90deg, #020024 0%, rgba(59, 14, 49, 0.896534) 99%) !important;
  outline: 1px solid slategrey;
}

.purchase-total {
  text-align: right;
}
.purchase-total-label {
  font-family: Montserrat-Normal, sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
}

.purchase-bottom-line {
  font-family: Montserrat-Normal-900, sans-serif;
  border-bottom: 1px solid #8080804a;
  padding-bottom: 1px;
  margin-bottom: 10px;
  width: 96%;
}

.already-shoping-cart {
  display: none;
}

h1 {
  font-family: Montserrat-Normal-900, sans-serif;
  font-size: 1.5rem !important;
}

.product-description .img-list {
  box-shadow: 0 0 0 1px #ccc;
}
.product-description_details .details-right .wrap-card-pay {
  padding: 15px !important;
  background: rgba(242, 242, 242, 0.35) none repeat scroll 0 0;
  box-shadow: 0 0 0 1px #ccc;
  -webkit-box-shadow: 0 0 0 1px #ccc;
  -moz-box-shadow: 0 0 0 1px #ccc;
  display: inline-block;
}
.product-description_details .details-right .wrap-card-pay .price {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: #111;
}
.product-description_details .details-right .more-info {
  box-shadow: 0 0 0 1px #ccc;
  min-height: 10rem;
  font-size: 1.5rem;
}
.product-description_details .details-right .more-info_item {
  padding: 0.5rem;
  font-size: 18px;
}
.product-description_details .details-right .more-info .more-info-key {
  text-transform: uppercase;
  font-family: Montserrat-Normal-900, sans-serif;
}
.product-description_details .details-right .more-info .more-info-val {
  font-family: Montserrat-Normal, sans-serif;
}

html {
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*, :after, :before {
  box-sizing: inherit;
}

a {
  text-decoration: none !important;
  outline: 0;
}

header {
  max-width: 2000px;
  margin: 0 auto;
}

body {
  font-family: Montserrat-Normal-reqular, sans-serif !important;
  background-color: #f5f8fa;
  font-size: 16px;
  color: #000;
  height: 100%;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.wrap {
  max-width: 2000px;
  margin: 0 auto;
  margin-top: 0.25rem !important;
}
.wrap__height {
  background-color: #0c5460;
  max-height: 350px;
  overflow: hidden;
  box-sizing: border-box;
}

.global-header {
  overflow: hidden;
}
.global-header .navbar {
  z-index: 1;
  background: #020024 !important;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(99%, rgba(59, 14, 49, 0.896534))) !important;
  background: linear-gradient(90deg, #020024 0%, rgba(59, 14, 49, 0.896534) 99%) !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 0;
}
.global-header .navbar .nav-item {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  margin-right: 5rem;
  border-right: 3px solid white;
  border-left: 3px solid white;
}
.global-header .navbar .nav-item:hover {
  border-radius: 5px;
  background-color: grey;
}
.global-header .navbar .nav-link {
  color: white;
  font-size: 1.6rem;
}
.global-header .navbar-brand {
  background-color: white;
  padding: 6px;
  border-radius: 7px;
}

.h-90 {
  height: 90% !important;
}

.navbar-nav {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.nav-item_m_width {
  font-family: Fregat_reqular, sans-serif;
}

.menu-wrap {
  position: relative;
  background-color: #f7f1f1;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-family: Montserrat-Normal-900, sans-serif;
}
.menu-wrap .btn {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-weight: 700;
}
.menu-wrap .btn i {
  font-size: 2rem;
}

.menu-header {
  position: absolute;
  min-width: 141px;
  z-index: 33;
  background-color: #dddddd;
  top: -100%;
  height: 100%;
}
.menu-header ul {
  list-style-type: none;
  padding: 0;
}
.menu-header ul li {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 8px 30px 0px 0;
  margin-bottom: 3px;
  background-color: rgba(128, 0, 128, 0.11);
}
.menu-header ul li:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category {
  box-sizing: border-box;
}
.category a {
  text-decoration: none;
  color: #423a3a;
  font-family: Montserrat-Normal-900, sans-serif;
}

.subcategory {
  position: absolute;
  background-color: #dddddd;
  top: 1px;
}

.subcategory_item {
  min-width: 195px;
  background-color: rgba(128, 0, 128, 0) !important;
  padding: 1px !important;
  margin: 7px !important;
}
.subcategory_item a {
  list-style-type: none;
  background-color: rgba(0, 123, 255, 0) !important;
  width: 100%;
}
.subcategory_item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-container {
  max-width: 20rem;
  position: absolute;
  bottom: 1px;
  left: 0;
  margin: 0 8px 0 8px;
}
.card-container .card {
  background-color: linear-gradient(90deg, #020024 0%, rgba(59, 14, 49, 0.896534) 99%) !important;
}

.bg-dark {
  background-color: rgba(65, 32, 64, 0.28) !important;
}

.cat_box {
  height: 100%;
  position: relative;
}
.cat_box__item {
  padding: 0;
}
.cat_box__item .head {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.cat_box__item .head a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cat_box__item .name_block {
  height: 107px;
  font-family: "Arimo-Bold";
  overflow: hidden;
  line-height: 28px;
  z-index: 20;
  position: absolute;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(99%, rgba(59, 14, 49, 0.896534))) !important;
  background: linear-gradient(90deg, #020024 0%, rgba(59, 14, 49, 0.896534) 99%) !important;
  bottom: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.cat_box__item .name_block a {
  color: white;
  font-size: xx-large;
  text-decoration: none;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.19);
  padding: 10px 0 10px 0;
}

.dark {
  height: 100% !important;
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-align: center !important;
          align-items: center !important;
}

/**
 * ----------------------------------------
 * animation scale-up-hor-left
 * ----------------------------------------
 */
.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer:hover {
  text-decoration: underline;
}

/********footer*****************/
footer {
  font-size: 1.2rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  font-family: Lato-Reqular, sans-serif !important;
  background-color: grey;
  box-sizing: border-box;
  overflow: hidden;
}
footer .divider {
  width: 540px;
  border-bottom: 1px solid white;
}
footer .icon-contacts {
  width: 50px;
}

.box-s-box {
  box-sizing: border-box !important;
}

.base-shadow {
  box-shadow: 0 0 7px #ccc;
}

.button-add-cart {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 1rem;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  font-family: Montserrat-Normal-900, sans-serif;
  border: none;
  cursor: pointer;
  background: #142060;
  background: radial-gradient(circle, #142060 0%, #7f086a 0%, #8e056b 97%);
  color: white;
}
.button-add-cart:hover {
  background: #3f5efb;
  background: radial-gradient(circle, #3f5efb 0%, #db46fc 100%);
}
