body {
    display: flex;
    align-items: center;
}
h1 {
    font-family: "Century_Gothic_Bold", sans-serif;
    text-align: center;
}
.wrap-error {
    a {
        color: white !important;
        &:hover{
            color: white !important;
        }
    }
    i {
        font-size: 180px;
    }
    @media screen and(max-width: 500px){
        margin: 0;
        padding: 0;
    }
    .error-number {
        font-size: 100px;
    }
    .line-normal {
        line-height: normal;
    }
}
