.dataTables_wrapper {

    .image_thumbnails {
        width: 1px !important;
    }
    tbody {

        tr {
            cursor: pointer;
            &:hover {
                background-color: rgb(78, 115, 223);
                color: white;
            }
        }
    }
}
.swal2-shown {
    z-index: 22222 !important;
}

.dz-image img{width: 100%;height: 100%;}
.dz-details {    opacity: 1 !important;}
.dropzone .dz-preview .dz-details {
    opacity: 1 !important;
    z-index: 4444 !important;
}

.delete {
    position: absolute;
    right: 0;
    border-radius: 0;
}
.product-clone {
    position: absolute;
    border-radius: 0;
}
.collapsing {
    transition: none;
}
label {
    font-weight: 900 !important;
}
.container-list {
    max-height: 73vh;
    overflow-x: auto;
}
.container-fluid {
    @media screen and (max-width: 440px){
        padding: 0 !important;
    }
}
