.view_card {
    display: flex;
    justify-content: flex-start;
    font-size: 1.3rem;

    &__key {
        padding: 0 1rem 0 1rem;
        @media screen and (max-width: 640px) {
            width: auto !important;
        }
    }

    &__val {
        padding: 0 1rem 0 1rem;
        color: black;
    }
    a {
        text-decoration: unset;
        color: black;
    }
    &__transaction {

        &:hover{
            background-color: grey;
            color: white;
            cursor: pointer;
        }
        img {
            max-width: 100%;
            max-height: 50px
        }
    }

    @media screen and (max-width: 640px) {
        padding-left: 0;
        padding-right: 0;
        font-size: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
}
.label-success {
    background-color: #5cb85c;
}
.label-warning {
    background-color: #f0ad4e;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
@media screen and (max-width: 640px) {
    h1 {
        font-size: 1.3rem;
    }
}
