.dropzone.dz-started .dz-message {
    display: block !important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mainContainer {
    transition: background-color 0.5s;
    cursor: pointer;
    background-color: aliceblue;
    min-width: 170px;
    &:hover {
        background-color: rgba(135, 169, 198, 0.45)
    }
}
#options-storage {
    display: none;
}
.removeEl {
    z-index: 22;
    width: 19px;
    position: absolute;
    right: -20px;
    top: -23px;
    font-size: 25px;
    color: red;
    font-weight: 900;
}

#add-additional-option-cancel {
    width: 119px;
    background-color: yellowgreen;
    margin-top: 5px;
}

.additional {

    &_button {
        cursor: pointer;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 15px;
        font-weight: 800;
    }

    &_form {
        &_key {
            min-width: 110px;
        }

        &_value {
            min-width: 110px;
        }

        &_content {

            &_key {
            }

            &_value {
            }
        }
    }


}
