#addBinding {
    text-transform: uppercase;
    font-weight: 900;
}
#bindingData {
    display: none;
}
.ms-container {
    width: 94%;
    padding: 20px;
}

.ms-elem-selectable, .ms-elem-selection {
    font-weight: 700;
    font-size: 20px !important;
}
