#button-up {
    display: inline-block;
    /*background-color: #FF9800;*/
    /*width: 50px;*/
    /*height: 50px;*/
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button-up i {
    font-size: 3rem;
}
#button-up::after {
    /*content: "\f151";*/
    /*font-family: FontAwesome;*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*font-size: 2em;*/
    /*line-height: 50px;*/
    /*color: #fff;*/
}
#button-up:hover {
    cursor: pointer;
    background-color: #333;
}
#button-up:active {
    background-color: #555;
}
#button-up.show {
    opacity: 1;
    visibility: visible;
}
